.ck-editor__editable_inline {
    min-height: 600px; 
}

.ck-content h1 {
    font-size: 2em;
    color: #333;
}

.ck-content h2 {
    font-size: 1.75em;
    color: #444;
}

.ck-content h3 {
    font-size: 1.5em;
    color: #444;
}
